<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up / Login</title>
    <link rel="stylesheet" href="signup.css">
   
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h2>Sign Up to Access All Features</h2>
        </div>
        <div class="right-panel">
            <form action="/signup" method="POST">
                <h2>Sign Up</h2>
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirmPassword" placeholder="Repeat Password" required>
                <button type="submit">Sign Up</button>
                <div class="switch">Already have an account? <a href="/login">Log in</a></div>
            </form>
        </div>
    </div>


    <script>
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
    
        const token = getCookie('token'); 
        if (token) {
            window.location.href = '/home'; 
        }
        window.history.pushState(null, "", window.location.href);
    window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href); 
    };
    </script>
</body>
</html>
